
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
    background-color: rgb(209, 247, 216);
    
}


.add-transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}


.transactions {
    margin-left: 430px;
  margin-top: 20px;
  padding-left: 10px;
  width: 600px;
  height: 400px;
  overflow: auto;
  border: 3px solid #023047;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
  }
  .profile-photo {
    width: 200px;
    border-radius: 50%;
  }